<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `images/smart-reminders.png` | relURL }}" alt="Smart Reminders Icon" width="100">
        <h2 class="h2">Smart Reminders<small class="d-none">⏰</small></h2>
        <p>Stay connected effortlessly! Our system reminds you to reach out to contacts at just the right time based on past interactions.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/ai-meeting-prep.png` | relURL }}" alt="Smart Reminders Icon" width="100">
        <h2 class="h2">AI-Powered Meeting Prep<small class="d-none">🤖</small></h2>
        <p>Before a meeting, receive AI-generated summaries of past conversations and relevant talking points.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/voice-meeting-notes.png` | relURL }}" alt="Smart Reminders Icon" width="100">
        <h2 class="h2">Voice Memo to Notes <small class="d-none">🎙️</small></h2>
        <p>Record voice memos after meetings, and the app will automatically convert them into structured notes.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Important Date Reminders<small class="d-none">🦉</small></h2>
        <p>Never forget a birthday, work anniversary, or major event with advanced notifications.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Calendar Syncing <small class="d-none">✨</small></h2>
        <p>The app syncs with your calendar and updates the "last met" date whenever you schedule an event with a contact.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Relationship Health Score<small class="d-none">🧰</small></h2>
        <p>Track relationship strength with a score based on frequency and depth of communication, plus actionable insights.</p>
    </div>
</div>
